NODE_ENV=development
PORT=3000

DATABASE_URL=postgres://postgres:postgres@postgres:5432/tpuns

MQTT_URL=mqtt://mosquitto:1883
MQTT_TOPIC_SUBSCRIBE=tpuns/+/v1/#
MQTT_CLIENT_ID=tpuns-backend

SWAGGER_ENABLED=true
